@media(min-width: 992px){
    .top-hit-container:hover .wp-post-image{
      transform: scale(1.2);
    }
    .top-hit-container .hit-item .weight, 
    .top-hit-container .hit-item .hit-line, 
    .top-hit-container .hit-item .price, 
    .top-hit-container .hit-item .item-name{
      transition: 0.5s all;
    }
    .top-hit-container:hover .hit-item .weight, 
    .top-hit-container:hover .hit-item .hit-line, 
    .top-hit-container:hover .hit-item .price, 
    .top-hit-container:hover .hit-item .item-name{
    opacity: 0;
    }
    .bottom-hit-container:hover .wp-post-image{
      transform: scale(1.2);
    }
    .bottom-hit-container .bottom-hit-item .weight, 
    .bottom-hit-container .bottom-hit-item .hit-line, 
    .bottom-hit-container .bottom-hit-item .price, 
    .bottom-hit-container .bottom-hit-item .item-name{
      transition: 0.5s all;
    }
    .bottom-hit-container:hover .bottom-hit-item .weight, 
    .bottom-hit-container:hover .bottom-hit-item .hit-line, 
    .bottom-hit-container:hover .bottom-hit-item .price, 
    .bottom-hit-container:hover .bottom-hit-item .item-name{
    opacity: 0;
    }
  
  
    .event-item-arrow{
      transition: 0.5s all;
    }
    .event-item-container:hover .event-item-arrow{
      right: 25px;
    }
    
    .h3.h3_light.h3_events{
      transition: 0.5s all;
    }
    .event-item-container:hover .h3.h3_light.h3_events{
      margin-right: 27px;
    }
    
    .event-img{
      transition: 0.5s all;
    }
    .event-item-container:hover .event-img{
      transform: scale(1.1);
    }
    .cart-item-description{
      transition: 0.5s all;
    }
    .cart-item-description:hover{
      opacity: 1;
    }
  }
.direction-arrow{
    transition: 0.5s all;
}
.up-down-arrow.active .direction-arrow{
    transform: rotateZ(180deg);
}
.up-down-arrow.active .direction-down{
    display: none;
}
.menu-item a{
    text-decoration: none;
}
.w-layout-grid.hits-grid{
    display: flex;
    flex-wrap: wrap
}
.top-hit-container{
    width: calc(100% / 2 - 10px)
}
.main-screen{
    height: auto;
    overflow: hidden;
}
@media(max-width: 767px){
    .top-hit-container{
        width: 100%
    }
}
.bottom-hit-container{
    width: calc(100% / 3 - 14px)
}
@media(max-width: 767px){
    .bottom-hit-container{
        width: calc(100% / 2 - 14px)
    }
}
@media(max-width: 559px){
    .bottom-hit-container{
        width: 100%;
    }
}
.cart-order-select-inner-_sub-select .select-close-icon{
    display: none
}
.cart-order-select-inner{
    opacity: 1;
}
.cart-order-select-inner-_sub-select{
    opacity: 1;
}
.w-layout-grid.events-grid{
    display: flex;
    flex-wrap: wrap
}
.event-item-container{
    display: block;
    width: calc(50% - 10px)
}
@media(max-width: 767px){
    .event-item-container{
        width: 100%;
    }
}
.js-cart-icon.additem{
    margin-top: -10px;
    background-color: #a09a31;
    box-shadow: 0 15px 30px 0 rgba(70, 79, 64, 0.3);
}
.up-down-arrow{
    transition: 0.5s all !important;
}
.up-down-arrow.visible-arrow{
    bottom: 2%!important;
}